name: Publish OSX arm64 & x64 ZIP

on: workflow_dispatch

jobs:
  build-publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 8.0.x
    - name: Prepare MacOS bundle directory
      run: |
        mkdir -p ./publish/osx-arm64
        mkdir -p ./publish/osx-x64
    - name: Restore & Build & Publish Application [OSX-x64]
      run: dotnet publish --self-contained true -r osx-x64 -p:PublishReadyToRun=false -p:TieredCompilation=false -p:PublishTrimmed=false -p:PublishSingleFile=true -p:IncludeNativeLibrariesForSelfExtract=true src/RabbitMQ.CLI/RabbitMQ.CLI.csproj -o ./publish/osx-x64
    - name: Restore & Build & Publish Application [OSX-ARM64]
      run: dotnet publish --self-contained true -r osx-arm64 -p:PublishReadyToRun=false -p:TieredCompilation=false -p:PublishTrimmed=false -p:PublishSingleFile=true -p:IncludeNativeLibrariesForSelfExtract=true src/RabbitMQ.CLI/RabbitMQ.CLI.csproj -o ./publish/osx-arm64
    - name: Write version into file
      run: grep -oP "(<Version>).*(</Version>)" src/RabbitMQ.CLI/RabbitMQ.CLI.csproj | awk -F '[><]' '{print $3}' > ./publish/version
    - name: Save Published Files
      uses: actions/upload-artifact@v4
      with:
        name: publish-files
        path: ./publish/
  push-releases:
    needs: build-publish
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@v5
      with:
        name: publish-files
        path: osx
    - name: Display structure of downloaded files
      run: ls -Rla
      working-directory: ./
    - name: Get version string
      id: version
      run: echo "::set-output name=version::$(cat osx/version)"
    - name: Output version
      run: echo Got version - $VERSION
      env:
        VERSION: ${{ steps.version.outputs.version }}
    - name: Install zip
      uses: montudor/action-zip@v1
    - name: Prepare App packages (x64 + arm64)
      run: |
        mkdir -p ./osx-arm64
        mkdir -p ./osx-x64
        mv ./osx/osx-arm64/rabbitcli ./osx-arm64/
        mv ./osx/osx-x64/rabbitcli ./osx-x64/
    - name: Pack arm64 App
      run: zip -qq -r RabbitCLI-${{ steps.version.outputs.version }}-osx-arm64.zip osx-arm64
    - name: Pack x64 App
      run: zip -qq -r RabbitCLI-${{ steps.version.outputs.version }}-osx-x64.zip osx-x64
    - uses: actions/checkout@v6
      name: Checkout releases branch
      with:
        ref: releases
        path: repo
        persist-credentials: false
    - name: Copy archives
      run: cp RabbitCLI*.zip repo/osx-arm64-x64/
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v8
      with:
        path: repo
        delete-branch: true
        branch: release/rabbitcli
        title: New Release of RabbitCLI
        commit-message: Adds new release-package
        body: |
          Adds new release-package
          [Created automatically]
  
